<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>About</title>
    <link href='styles/about.css' rel='stylesheet'>
  </head>
  <body>
    <div id="routes">
      <div id="routespace">
      </div>
      <a class="routechild"  href='/log'>
        <button id="loginout">Sign in/Join</button>
      </a>
      <a class="routechild" href='/'>
        <button id="homepg">Home</button>
      </a>
    </div>
    <h1> S T Y L E - A I D <span>about</span></h1>
    <p></p>
    <div id="description">
      <p>Style Aid is an essential fashion hub for all
      style aficionados and beginners alike. Made by
      three fashion enthusiasts - we promise only
      insight on your journey to achieving vogue euphoria.
      Knowing your taste and what you look your best in
      is just step one to achieving your perfect image.
      Reserved, classy, sexy, sporty, or elegant - S.A.
      has only your best interest.</p>
    </div>
  </body>
</html>
