<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link href='styles/home.css' rel='stylesheet'>
  </head>
  <body>
    <h1> S T Y L E  -  A I D </h1>
    <h2> style. made. simple. </h2>
    <form method='post' action='/H&M'>
      <button id="hm"></button>
    </form>
    <form method='post' action='/Aeropostale'>
      <button id="aero"></button>
    </form>
    <form method='post' action='/AmericanEagle'>
      <button id="AE"></button>
    </form>
    <form method='post' action='/AmericanApparel'>
      <button id="AA"></button>
    </form>
    <form method='post' action='/Hollister'>
      <button id="holl"></button>
    </form>
    <form method='post' action='/BananaRepublic'>
      <button id="banana"></button>
    </form>
    <form method='post' action='/Bloomingdales'>
      <button id="bloom"></button>
    </form>
    <form method='post' action='/Express'>
      <button id="exp"></button>
    </form>
    <form method='post' action='/Forever21'>
      <button id="f21"></button>
    </form>
    <form method='post' action='/Gap'>
      <button id="Gap"></button>
    </form>
    <form method='post' action='/LuluLemon'>
      <button id="Lulu"></button>
    </form>
    <form method='post' action='/OldNavy'>
      <button id="old"></button>
    </form>
    <form method='post' action='/Uniqlo'>
      <button id="Un"></button>
    </form>
    <form method='post' action='/UrbanOutFitters'>
      <button id="urb"></button>
    </form>
    <form method='post' action='/Zara'>
      <button id="zara"></button>
    </form>
  </body>
</html>
