<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link href='styles/home.css' rel='stylesheet'>
  </head>
  <body>
    <form method = 'post' action='/log'>
      <button id="loginout">Sign in/Join</button>
    </form>
    <h1> S T Y L E  -  A I D </h1>
    <h2> style. made. simple. </h2>
    <div id="stores">
      {% for data in merchList %}
      <a class="store" href={{data.link}}>
        <button id={{data.id}}></button>
      </a>
      {% endfor %}
      
      <!-- <form class="store" method='post' action='/H&M'>
        <button id="hm"></button>
      </form>
      <form class="store" method='post' action='/Aeropostale'>
        <button id="aero"></button>
      </form>
      <form class="store" method='post' action='/AmericanEagle'>
        <button id="AE"></button>
      </form>
      <a class="store" method='post' href='/AmericanApparel'>
        <button id="AA"></button>
      </a>
      <form class="store" method='post' action='/Hollister'>
        <button id="holl"></button>
      </form>
      <form class="store" method='post' action='/BananaRepublic'>
        <button id="banana"></button>
      </form>
      <form class="store" method='post' action='/Bloomingdales'>
        <button id="bloom"></button>
      </form>
      <form class="store" method='post' action='/Express'>
        <button id="exp"></button>
      </form>
      <form class="store" method='post' action='/Forever21'>
        <button id="f21"></button>
      </form>
      <form class="store" method='post' action='/Gap'>
        <button id="Gap"></button>
      </form>
      <form class="store" method='post' action='/LuluLemon'>
        <button id="Lulu"></button>
      </form>
      <form class="store" method='post' action='/OldNavy'>
        <button id="old"></button>
      </form>
      <form class="store" method='post' action='/Uniqlo'>
        <button id="Un"></button>
      </form>
      <form class="store" method='post' action='/UrbanOutFitters'>
        <button id="urb"></button>
      </form>
      <form class="store" method='post' action='/Zara'>
        <button id="zara"></button>
      </form> -->
    </div>
  </body>
</html>
