<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link href='styles/home.css' rel='stylesheet'>
  </head>
  <body>
    <h1> S T Y L E  -  A I D </h1>
    <h2> style. made. simple. </h2>
    <p>{{title}}</p>
    <form method='post' action='/H&M'>
      <button id="hm"></button>
    </form>
    <form method='post' action='/Aeropostale'>
      <button id="aero"></button>
    </form>
    <form method='post' action='/AmericanEagle'>
      <button id="AE"></button>
    </form>
    <form method='post' action='/AmericanApparel'>
      <button id="AA"></button>
    </form>
  </body>
</html>
