<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link href='../styles/login-out.css' rel='stylesheet'>
  </head>
  <body>
    <div id='info'>
      <a href='/about'> About </a>
      <a href='/contact'>Contact Us</a>
    </div>
    <div id='all'>
      <div id='heading'>
        <h1> S T Y L E  -  A I D </h1>
        <h2> style. made. simple. </h2>
      </div>
      <div>
        <label> Sign In</label><br>
        <input type='text' value='username'> <br>
        <input type='text' value='password'><br>
        <form method='post' action='/log'>
          <input type='button' class='button' value='Submit'>
        </form>
      </div>
      <div>
        <label>Sign Up</label><br>
        <input type='text' value='name'> <br>
        <input type='text' value='username'><br>
        <input type='text' value='email'><br>
        <input type='text' value='password'><br>
        <form method='post' action='/'>
          <input type='button' class='button' value='Submit'>
        </form>
      </div>
    </div>
  </body>
</html>
