<!DOCTYPE html>
<html>
<head>
  <title>Profile Page</title>
</head>
<body>
  <h1>{{user}}</h1>
  <div class='images'>
    <img class="pics" src="{{profile}}" alt="profile picture"></br>
  </div>
  <form method='post' action='/profile'>
    <input type='text' name='profile' placeholder="enter image URL here..">
    <input type='submit'>
  </form>
  <div>
    <div id="bio">
      <p>test</p>

    </div>

    <img class="pics" src="{{fav}}" alt="Favorite Item"></br>
    <form method='post' action='/profile'>
    <input type='text' placeholder="enter image URL here..">

    <input type='submit'>
  </form>
  </body>
  </html>
