<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>About</title>
    <link href='styles/rec.css' rel='stylesheet'>
  </head>
  <body>
    <div id="routes">
      <div id="routespace">
      </div>
      <a class="routechild" href='/log'>
        <button id="logout">{{logout}}</button>
      </a>
      <a class="routechild" href='/log'>
        <button id="loginout">{{user}}</button>
      </a>
      <a class="routechild" href='/'>
        <button id="homepg">Home</button>
      </a>
    </div>
  <h1> S T Y L E - A I D <span id="style">style</span></h1>
  <p></p>
  <div id="description">
    <p>No matter what. Feeling comfortable in your skin
      is the top priority in achieving your version of pristine style.
      Those thin lace dresses worn by professional super models
      may or may not be your cup of tea. It is your job
      (and ours) to make sure you find your main go-to style
      when it comes to your personal tastes and needs.
      These references below will aid in most, if not,
      all of your fashion requirements.</p>
    </div>
    <h2><span style='color: red'>C</span>
      <span style='color: orange'>O</span>
      <span style='color: yellow'>L</span>
      <span style='color: green'>O</span>
      <span style='color: blue'>R </span> - B Y -
      <span style='color: tan'> C</span>
      <span style='color: saddlebrown'>O</span>
      <span style='color: darkgoldenrod'>L</span>
      <span style='color: peru'>O</span>
      <span style='color: sienna'>R</span></h2>
      <div id="cbyc">
        <p>Picking colors isn't always simple. But knowing
          the colors that make your melanin pop as well
          as reflect your personality makes confidence
          achievable!</p>
          <p>Depending on your complexion, certain colors will
            compliment your skin tone more than others. For darker
            skin tones and richer pigmentation, opt for pops of color
            that will really make both you and your outfit spring
            to life! These include bright reds and yellows. For fairer
            skin tones, darker shades of color will really highlight
            your stylish apparel. Essentially, try to pick colors that
            you have noticed in the past to flatter yourself! It's always
            okay to experiment with colors and patterns as well so feel
            free to do so!</p>
          </div>
          <h3>P E R S O N A L - P E R S O N A</h3>
          <div id="persona">
            <p>Getting a feel for what your go-to style may be is never an easy
              task. But by collecting your characteristics and understanding
              your body type, it'll be much easier to understand what your
              fashion niches are.</p>
              <p>If you cannot stand heels or sneakers then that's okay! Try flats or
                open-toed shoes. Knowing yourself enough to not wear heels because you cannot
                stand them</p>
              </div>
              <h4>S E A S O N A L - I N S P I R A T I O N</h4>
              <div id="inspo">
                <p>From season-to-season, we learn that styles come and go as time
                  progresses. But thanks to time, we have new motivation to shop for
                  all the hottest trends! Knowing what is hot and what is not is not so
                  simple - and even knowing the trends of each season may be even more difficult if
                  you're not so 'seasoned' in fashion. Dressing yourself according to the
                  the time of year will reflect your wisdom of fashion as well as how much
                  you value your appearance</p>
                  <h5>Spring x Summer</h5>
                  <p>The warm seasons call for all of the fresh styles summer and spring
                    have to offer. After assessing what colors make you look great as well as
                    understanding what you can and cannot pull off, it is time to throw the
                    sweaters back in the closet! Spring and Summer are the times for fun
                    maxi dresses, loose blouses, and athletic wear. Schools out! And the
                    warm seasons inspire fun times with friends and family. Opt for playful
                    and lively apparel if half of it isn't athletic gear anyway!</p>
                    <h5>Fall x Winter</h5>
                    <p>The chilly Fall and Winter eves are the prime seasons of fashion
                      showcasing. The cold seasons call for more articles of clothing and, in other
                      words, more opportunities to express yourself! Boots (all boots), cardigans and
                      sweaters are all staples of cool and crisp weather. Keeping yourself warm
                      can look great if you are conscious of what is in season. </p>
                    </div>
                  </body>
                  </html>
