<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>About</title>
    <link href='styles/rec.css' rel='stylesheet'>
  </head>
  <body>
    <div id="routes">
      <div id="routespace">
      </div>
      <form class="routechild" method = 'post' action='/log'>
        <button id="loginout">Sign in/Join</button>
      </form>
      <form class="routechild" method = 'post' action='/'>
        <button id="homepg">Home</button>
      </form>
    </div>
    <h1> S T Y L E - A I D <span>style</span></h1>
    <p></p>
    <div id="description">
      <p>No matter what. Feeling comfortable in your skin
        is the top priority in achieving your pristine style.
        Those thin lace dresses worn by professional super models
        may or may not be your cup of tea. It is your job
        (and ours) to make sure you find your main go-to style
        when it comes to your personal tastes and needs.
        These references below will help aid in most, if not,
        all of your fashion requirements.</p>
    </div>
    <h2>C O L O R - B Y - C O L O R</h2>
      <div id="cbyc">
        <p>Picking colors isn't always simple. But knowing
           the colors that make your melanin pop as well
           as reflect your personality makes confidence
           achievable!</p>
        <p>Depending on your complexion, certain colors will
          compliment your skin tone more than others. For darker
          skin tones and richer pigmentation, opt for pops of color
          that will really make both you and your outfit spring
          to life! These include bright reds and yellows. For fairer
          skin tones, darker shades of color will really highlight
          your stylish apparel. Essentially, try to pick colors that
          you have noticed in the past to flatter yourself! Always
          feel free to experiment with colors and patterns!</p>
      </div>
    <h3>P E R S O N A L - P E R S O N A</h3>
      <div id="persona">
        <p>Getting a feel for what your go-to style may be is never an easy
        task. But by collecting your characteristics and understanding
        your body type, it'll be much easier to understand what your
        fashion niches are.</p>
        <p></p>
      </div>
    <h4>S E A S O N A L - I N S P I R A T I O N</h4>
      <div id="inspo">
        <p>From season-to-season, we learn that styles come and go as time
        progresses. But thanks to time, we have new motivation to shop for
        all the hottest trends! Knowing what is hot and what is not is not so
        simple - and even knowing the trends of each season may be even more difficult if
        you're not so 'seasoned' in fashion.</p>
        <h5>Spring x Summer</h5>
          <p>The warm season calls for the fresh styles summer and spring
          have to offer</p>
        <h5>Fall x Winter</h5>
          <p></p>
      </div>
  </body>
</html>
