<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link href='styles/store.css' rel='stylesheet'>
  </head>
  <body>
    <form method='post' action='/'>
      <input type='submit' value='back'>
      <h1><img id= "a1" src="{{logo}}"></h1>
    </form>

    <h2> About {{title}} </h2>
    <p id="desc">{{desc}}</p>

    <h2> SA's Opinion</h2>
    <h3><img id="logo" src="/images/salogo.png">   {{opinion}}</h3>
    <a href={{clothing}} title="Bib Overall Dress" class="product-item-link">
      <img width="222" height="333" src={{image}} class="product-item-image swipe-expose-item-image" alt="Bib Overall Dress">
    </a>
    {% for comment in all_comments %}
    <p>{{comment.content}}</p>
    {% endfor %}
    <form method='post'>
      <input type="text" name="comment" value='write a comment...'>
      <input type='submit'>
    </form>
  </body>
</html>
