h1 {
  text-align: center;
  font-family: "Palatino", serif;
  font-size: 30px;
}

h2 {
  text-align: center;
  font-family: "Palatino", serif;
  font-size: 20px;
}

#stores {
  justify-content: space-between;
  display: flex;
  width: 700px;
  flex-wrap: wrap;
  margin: auto;
}

.store button {
  background-size: 80%;
  background-position: center;
  background-repeat: no-repeat;
  padding: 100px 100px;
  margin-top: 30px;
}

#hm {
  background-image: url('/images/hm-logo.png');
}

#aero {
  background-image: url('/images/aeropostale.svg.png');
}

#AE {
  background-image: url('/images/americaneagle.svg.png');
}

#AA {
  background-image: url('/images/americanapparel.png');
}

#holl {
  background-image: url('/images/');
}
