#routes {
  display: flex;
  width: 100%;
}

#routespace {
  flex: 10 10 auto;
}

.routechild {
  flex: 1%;
}

#about {
  padding: 0;
  background: none;
  border: none;
  font-family: "Palatino", serif;
  font-size: 15px;
}

#loginout {
  padding: 0;
  background: none;
  border: none;
  font-family: "Palatino", serif;
  font-size: 15px;
}

#rec {
  padding: 0;
  background: none;
  border: none;
  font-family: "Palatino", serif;
  font-size: 15px;
}

h1 {
  text-align: center;
  flex: 0 0 0;
  font-family: "Palatino", serif;
  font-size: 30px;
  margin-left: 0;
  margin-right: 0;
  padding-bottom: 10px;
  padding-top: 10px;
}

h2 {
  text-align: center;
  font-family: "Palatino", serif;
  font-size: 20px;
  border-bottom: solid;
  padding-bottom: 15px;
  border-bottom-color: whitesmoke;
}

#stores {
  justify-content: space-between;
  display: flex;
  width: 700px;
  flex-wrap: wrap;
  margin: auto;
}

.store button {
  background-size: 80%;
  background-position: center;
  background-repeat: no-repeat;
  padding: 100px 100px;
  margin-top: 15px;
  margin-bottom: 15px;
}

#hm {
  background-image: url('/images/hm-logo.png');
}

#aero {
  background-image: url('/images/aeropostale.svg.png');
}

#AE {
  background-image: url('/images/americaneagle.svg.png');
}

#AA {
  background-image: url('/images/americanapparel.png');
}

#holl {
  background-image: url('/images/hollister.png');
}

#banana {
  background-image: url('/images/banana.png');
}

#bloom {
  background-image: url('/images/bloom.png');
}

#exp {
  background-image: url('/images/express.png');
}

#f21 {
  background-image: url('/images/f21.png');
}

#Gap {
  background-image: url('/images/gap.png');
}

#Lulu {
  background-image: url('/images/lulu.png');
}

#old {
  background-image: url('/images/old.png');
}

#Un {
  background-image: url('/images/uni.png');
  background-size: 65%;
}

#urb {
  background-image: url('/images/urb.png');
  background-size: 110%;
}

#zara {
  background-image: url('/images/zara.png');
}
