#all,
#all div {
  height: auto;
  width: auto;
  background-color: white;
  border-radius: 15px;
  margin: 30px;
  border: 35px;
  border-color: white;
  padding: 15px;
  align-content: space-around;

}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url('https://mir-s3-cdn-cf.behance.net/project_modules/fs/db5d8d28008799.56e41b3381d42.gif');
  background-repeat: repeat-x;
  background-size: cover;
}

label{
  font-family: "Palatino", serif;
  color: black;
}

#heading{
  text-align: center;
  font-family: "Palatino", serif;
  font-size: 15px;
  margin-top: 0px;
}

#info {
  position: absolute;
  top: 10px;
  right: 10px;
}
