div {
  height: auto;
  width: auto;
  background-color: gray;
  border-radius: 15px;
  margin: 50px;
  border: 25px;
  border-color: white;
  padding: 15px;

}

body {
  display: flex;
  justify-content: center;
  align-items: center;
}

label{
  color: white;
}
