
h1 {
  text-align: center;
  font-family: "Palatino", serif;
  font-size: 30px;
  border-spacing: inherit;
  padding-bottom: 15px;
  border-bottom: solid;
  border-bottom-color: whitesmoke;
}

span {
  font-size: 30px;
  color: red;
  font-family: cursive;
  font-size: 50px;
}

#routes {
  display: flex;
  width: 100%;
}

#homepg {
  padding: 0;
  background: none;
  border: none;
  font-family: "Palatino", serif;
  font-size: 15px;

}
.routechild {
  flex: 1%;
}

#routespace {
  flex: 10 10 auto;
}

#loginout {
  flex: 1 1 auto;
  padding: 0;
  background: none;
  border: none;
  font-family: "Palatino", serif;
  font-size: 15px;
}

#description {
  text-align: center;
  line-height: 20px;
  width: 60%;
  font-family: "Palatino", serif;
  font-size: 17px;
  margin: auto;
}

h2 {
  text-align: center;
  font-family: "Palatino", serif;
  font-size: 25px;
  border-spacing: inherit;
  padding-bottom: 15px;
  border-bottom: solid;
  border-bottom-color: whitesmoke;
}

h3 {
  text-align: center;
  font-family: "Palatino", serif;
  font-size: 25px;
  border-spacing: inherit;
  padding-bottom: 15px;
  border-bottom: solid;
  border-bottom-color: whitesmoke;
}

h4 {
  text-align: center;
  font-family: "Palatino", serif;
  font-size: 25px;
  border-spacing: inherit;
  padding-bottom: 15px;
  border-bottom: solid;
  border-bottom-color: whitesmoke;
}

#cbyc {
  text-align: center;
  line-height: 20px;
  width: 60%;
  font-family: "Palatino", serif;
  font-size: 17px;
  margin: auto;
}

#persona {
  text-align: center;
  line-height: 20px;
  width: 60%;
  font-family: "Palatino", serif;
  font-size: 17px;
  margin: auto;
}

#inspo {
  text-align: center;
  line-height: 20px;
  width: 60%;
  font-family: "Palatino", serif;
  font-size: 17px;
  margin: auto;
}
