#a1 {
  height: 10%;
  width: 10%;
}

h1 {
  display: flex;
  justify-content: center;
  border-spacing: inherit;
  padding-bottom: 15px;
  border-bottom: solid;
  border-bottom-color: whitesmoke;
}

h2 {
  text-align: center;
  font-family: "Palatino", serif;
  font-size: 25px;
}

span {
  font-size: 40px;
  color: red;
  font-family: cursive;
}

h3 {
  text-align: center;
  font-family: "Palatino", serif;
  font-size: 25px;
  border-spacing: inherit;
  padding-bottom: 15px;
  border-bottom: solid;
  border-bottom-color: whitesmoke;
}

#desc {
  text-align: center;
  line-height: 20px;
  width: 60%;
  font-family: "Palatino", serif;
  font-size: 17px;
  margin: auto;
}

#routes {
  display: flex;
  width: 100%;
}

.routechild {
  flex: 20%;
}

#homepg {
  flex: 1 1 auto;
  padding: 0;
  background: none;
  border: none;
  font-family: "Palatino", serif;
  font-size: 15px;
}

#hm1 {
  height: 100px;
  width: 100px;
}
